<div>
  <h1>Currency</h1>
  100 = {{valor | currency: "BRL"}} // Formatando em Real <br>
  100 = {{valor | currency}} // Formatando em Dólar
</div>

<div>
  <h1>LowerCase</h1>
  DAN LUSTOSA = {{nomeMaiusculo | lowercase}}
</div>

<div>
  <h1>UpperCase</h1>
  dan lustosa = {{nomeMinusculo | uppercase}}
</div>

<div>
  <h1>Date</h1>
  {{dataAtual}}<br>
  dd/MM/yy = {{dataAtual | date:'dd/MM/yy'}}<br>
  dd/MM = {{dataAtual | date:'dd/MM'}}<br>
  shortTime = {{dataAtual | date:'shortTime'}}<br>
</div>

<div>
  <h1>Number</h1>
  1.500 = {{numero | number}}<br>
  44.500,45 = {{decimal | number: '7.5'}}
</div>

<div>
  <h1>Percent</h1>
  92% = {{percentual | percent}}
</div>

<div>
  <h1>JSON</h1>
  {{objeto | json}}
</div>

<div>
  <h1>Raiz quadrada</h1>
  9 = {{raizQuadrada | sqrt}}
</div>

<div>
  <h1>Data por extenso</h1>
  {{dataAtual | extesionDate}}
</div>
